* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('./images/loginBG.jpg');
    background-size: cover;
    /* height: 100vh; */
    /* overflow-y: hidden !important; */
}

.nav {
    background: rgba(0, 0, 0, 0.48);
    position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    padding: 0 10vh;
    font-family: 'JetBrains Mono', monospace;
}

.navIconContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navTitleContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navIcon {
    height: 2.5rem;
}

.navTitle {
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    padding-left: 10px;
    letter-spacing: 8px;
}

.profileContainer {
    flex: 1;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: end;
    /* text-align: end; */
    padding-right: 10px;
    align-items: center;
    font-size: 2rem;
}
.empty {
    height: 8.2vh;
}

.logoContainer {
    display: flex;
    flex: 9;
    justify-content: start;
    align-items: center;
}

.searchBox{
    background: rgba(0, 0, 0, 0.48);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 60vh; */
    /* margin: 0 20vw; */
    padding: 2vh 0;
}
form, .fromTo{
    /* height: 40vh; */
    display: flex;
    /* flex-direction: column;; */
    justify-content: center;
    align-items: center;
}
/* form div{
    padding: 8px;
} */
.genderFilter label div{
    font-size: 1.1rem;
}
/* .fromTo label select{
    width: 8vw;
    margin: 0 5px;
} */
/* .date input, .time input, .vehicleType input{
    width: calc(16vw + 16px);
} */
.genderFilter label input{
    /* width: calc(19vw +19px); */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: px; */

}
.searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    padding: 10px;
    margin-left: 50px;
    border-radius: 20px;
}
input, select{
    width: 10vw;
    height: 3.8vh;
    margin: 0 12px;
    font-size: 1.1rem;
}
select{
    margin: 5px 12px;
}
.genderFilter label{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}
.genderFilter label div{
    height: 3.8vh;
}
.genderFilter div input{
    width: 2.5vw;
}
/* input[type="checkbox"]{
    margin: 0;
    text-align: left;
} */
.fem{
    display: flex;
    /* justify-content: end; */
    align-items: center;
    color: white;
    /* position: absolute; */
    /* text-align: right; */
}
.myCards{
    /* height: 400px; */
    /* padding: 15px; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}
.noRequests{
    height: 38vh;
    width: 100%;
    background: #554848;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: 2.8rem;
    text-align: center;
    line-height: 4.6rem;
}
.addTripCard{
    height: 38vh;
    margin: 30px 0;
    width: 100%;
    color: aliceblue;
    background: #ba545472 ;   
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.myRequests{
    height: 38vh;
    width: 100%;
    background: #ba545472;
    color: aliceblue;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 2rem;
    justify-content: center;
    text-align: start;
    padding-left: 25px;

}
.myCardDate{
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding: 30px 0;
}

.othersCards{
    /* height: 800px; */
}
.myCardFrom, .myCardTo, .myCardNumPeople, .myCardVehicle{
    display: flex;
    padding:  0 10px;
}
.myCardFrom div,
.myCardTo div,
.myCardNumPeople div,
.myCardVehicle div {
    display: flex;
    padding: 0 10px;
}