*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --light: rgb(255, 239, 203);
    /* --menuText:white; */
    /* --menutext:black; */
    --navTitle: white;
    --navTitle: rgb(57, 57, 57);
    --navBG: #c8a465;
}

body{
    background: var(--light);
    /* height: 100vh; */
    overflow-y: hidden !important;
}
body::-webkit-scrollbar {
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
input, select{
    width: 400px;
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
.input{
    background: #000;
}
input[type="submit"]{
    margin-top: 5vh;
}
.inputContainer{
    /* display: flex; */
    /* justify-content: center; */
    background: #0000008f;
    margin: 10vh 30%;
    padding: 10vh 0;
}