@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Warp', cursive;
}
a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: url('./images/landingBG.jpg');
    background-size: cover;
}
.nav {
    background: rgba(0, 0, 0, 0.48);
    position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    padding: 0 10vh;
    font-family: 'JetBrains Mono', monospace;
}
.navIconContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navTitleContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navIcon {
    height: 2.5rem;
}

.navTitle {
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    padding-left: 10px;
    letter-spacing: 8px;
}

.profileContainer {
    flex: 1;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: end;
    /* text-align: end; */
    padding-right: 10px;
    align-items: center;
    font-size: 2rem;
}
.logoContainer{
    display: flex;
    flex:9;
    justify-content: start;
    align-items: center;
}
.cardContainer {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cards {
    /* padding: 50px; */
    height: 17vh;
    width: 84vw;
    margin: 14px;
    /* border-radius: 8px; */
    /* background: rgb(255, 255, 255); */
    /* border-bottom: 1px solid #000; */
    display: grid;
    grid-template-columns: 20% 80%;
}
.cards:hover{
    /* border: 5px solid #000; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.cardImage1, .cardImage2, .cardImage3, .cardImage4 {
    height: 12vh;
    padding-left: 4vw;
}



.CardImageContainer {
    display: flex;
    justify-content: center;;
    align-items: center;
} 
.empty {
    height: 12vh;
}
.cardTitle{
    display: flex;
    justify-content: end;
    padding-right: 4vw;
    align-items: center;
    font-size: 2.5rem;
    letter-spacing: 8px;
    word-spacing: 20px;
}