@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
/* font-family: 'Tilt Warp', cursive; */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
/* font-family: 'JetBrains Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --light: rgb(255, 239, 203);
    /* --menuText:white; */
    /* --menutext:black; */
    --navTitle: white;
    --navTitle: rgb(57, 57, 57);
    --navBG: #c8a465;
}

body {
    background: var(--light);
    /* height: 100vh; */
    overflow-y: hidden !important;
}

body::-webkit-scrollbar {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

input,
select {
    width: 30vw;
    margin: 5px;
    padding: 5px;
    font-size: 1.1rem;
}

input[type="submit"] {
    margin-top: 4vh;
    width: 12vw;
}

.inputContainer {
    /* display: flex; */
    /* justify-content: center; */
    background: rgba(0, 0, 0, 0.48);
    margin: 20vh 30%;
    padding: 5vh 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inputContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
}

.nav {
    background: rgba(0, 0, 0, 0.48);
    position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    padding: 0 10vh;
    font-family: 'JetBrains Mono', monospace;
    /* margin: 0.5%; */
    /* border-radius: 8px; */
}

.logoContainer {
    flex: 4;
    color: white;
    justify-content: start;
    padding-left: 10px;
    display: flex;

}

.menuContainer {
    flex: 20;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    /* padding-right: 10px; */
    font-family: 'Poppins', sans-serif;
}

.tab {
    /* background: #000; */
    /* margin: 10px; */
    /* padding: 0 10px; */
    border-radius: 18px;
    padding: 3px 0 3px 30px;
    font-size: 1.3rem;
}

.tab:hover {
    cursor: pointer;
    text-decoration: underline;
    /* background: var(--navBG); */
    /* color: var(--light); */
}


.navIconContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navTitleContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navIcon {
    height: 2.5rem;
}

.navTitle {
    color: white;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    padding-left: 10px;
    letter-spacing: 8px;
}