@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
/* font-family: 'JetBrains Mono', monospace; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', cursive;
}
body{
    background: url('./images/loginBG.jpg');
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background: rgba(0, 0, 0, 0.48);
    position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    padding: 0 10vh;
    font-family: 'JetBrains Mono', monospace;
}

.navIconContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navTitleContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.navIcon {
    height: 2.5rem;
}

.navTitle {
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    padding-left: 10px;
    letter-spacing: 8px;
}

.profileContainer {
    flex: 1;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: end;
    /* text-align: end; */
    padding-right: 10px;
    align-items: center;
    font-size: 2rem;
}

.logoContainer {
    display: flex;
    flex: 9;
    justify-content: start;
    align-items: center;
}
.empty{
    height: 12vh;
}
.cardContainer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
}
.driverCard{
    padding: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000084;
    color: white;
    margin: 15px;

}
.cardContainer {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.6rem;
}