*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --light: rgb(255, 239, 203);
    /* --menuText:white; */
    /* --menutext:black; */
    --navTitle: white;
    --navTitle: rgb(57, 57, 57);
    --navBG: #c8a465;
}

body{
    background: var(--light);
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
input, select{
    width: 400px;
    margin: 20px;
}
.inputContainer{
    /* display: flex; */
    /* justify-content: center; */
    background: var(--navBG);
    margin: 20vh 30%;
}