<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Cab</title>
  </head>
  <body>
    <div class="cardListContainer">
        <div class="card">
        {% for record in records %}
            <p>{{ record.trip_date }}</p>
            {{ record.trip_time }}
            {{ record.vehicle }}
            {{ record.pickup_point }}
            {{ record.drop_point }}
            {{ record.num_people }}
            {% if female %}
                {{ record.gender_filter }}
            {% endif %}
        {% endfor %}
        </div>
    </div>
  </body>
</html>
