<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Cab</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styleCabSearch.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="empty"></div>
    <div class="nav">
      <a href="{{ url_for('landing') }}">
        <div class="logoContainer">
        <div class="navIconContainer">
          <img
            class="navIcon"
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt=""
          />
        </div>
        <div class="navTitleContainer">
          <div class="navTitle">VITRACK</div>
        </div>
      </div>
      </a>
      
      <div class="profileContainer">
        <i class="fa-regular fa-user"></i>
      </div>
    </div>
    <div class="cardListContainer">
      <div class="searchBox">
        <form id="search" name="search" method="post">
          <div class="fromTo">
            <label for="from"></label>
              <input type="text" list="from_data" id="from" name="from" form="search" required></input>
            <label for="to"></label>
              <input type="text" list="to_data" id="to" name="to" form="search" required></input>
          </div>
          <div class="date"><input name="date" type="date" required /></div>
          <div class="time"><input name="time" type="time" /></div>
          <div class="vehicleType">
            <input type="text" value="Any" name="vehicleType" />
          </div>
          <div class="numPeople">
            <input name="numPeople" type="number" min="2" max="8" />
          </div>
          {% if female %}
          <div class="genderFilter">
            <label for="genderFilter">
              <div class="fem">
                Female:
              </div>
              <div><input
                type="checkbox"
                id="genderFilter"
                name="genderFilter"
                form="search"/>
              </div>
            </label>
          </div>
          {% endif %}
          <datalist id="from_data">
            {% for location in locations %}
              <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
          </datalist>
          <datalist id="to_data">
            {% for location in locations %}
              <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
          </datalist>
          <button class="searchButton" type="submit" value="submit">
            SEARCH <i class="searchIcon fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="allCards">
      <div class="myCards">
        <!-- <div class="noRequests">
          No <br> Active <br> Trips
        </div> -->
        
        <div class="myRequests">
          <div class="myCardDate">23-04-25</div>
          <div class="myCardFrom">
            <div>From:</div>
            <div class="enterFrom">Bangalore</div>
          </div>          
          <div class="myCardTo">
            <div>To:</div>
            <div class="enterTo">Katpadi</div>
          </div>          
          <div class="myCardNumPeople">
            <div>Members:</div>
            <div class="enterMembers">6</div>
          </div>          
          <div class="myCardVehicle">
            <div>Vehicle:</div>
            <div class="entervehicle">Cab</div>
          </div>
        </div>
        
        <!-- <div class="addTripCard">
          +
        </div> -->
      </div>
      <hr>
      <div class="otherCards">

      </div>
    </div>
  </body>
</html>
