<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Cab</title>
  </head>
  <body>
    <div class="cardListContainer">
      <div class="searchBox">
        <form id="search" name="search" method="post">
          <div class="fromTo">
            <label for="from">
              <select id="from" name="from" form="search" required>
                {% for point in pickup_points %}
                  <option value="{{ point }}">{{ point }}</option>
                {% endfor %}
              </select>
            </label>
            <label for="to">
              <select id="to" name="to" form="search" required>
                {% for point in drop_points %}
                  <option value="{{ point }}">{{ point }}</option>
                {% endfor %}
              </select>
            </label>
          </div>
          <div class="date"><input name="date" type="date" required /></div>
          <div class="time"><input name="time" type="time" /></div>
          <div class="vehicleType">
            <input type="text" value="Any" name="vehicleType" />
          </div>
          <div class="numPeople"><input name="numPeople" type="number" min="2" max="8" /></div>
          {% if female %}
          <div class="genderFilter">
            <label for="genderFilter">Female:<input type="checkbox" name="genderFilter" /></label>
          </div>
          {% endif %}
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
