<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <!-- <meta http-equiv="refresh" content="3" /> -->
    <title>VITrack</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styleStart.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="loader" class="center"></div>

    <div class="scroll">
        <div id="one" class="one active"><i class="fa-solid fa-circle"></i></div>
        <div id="two" class="two"><i class="fa-solid fa-circle"></i></div>
        <div id="three" class="three"><i class="fa-solid fa-circle"></i></div>
        <div id="four" class="four"><i class="fa-solid fa-circle"></i></div>
        <div id="five" class="five"><i class="fa-solid fa-circle"></i></div>
    </div>
    

    <div class="nav">
      <a href="{{ url_for('landing') }}">
        <div class="logoContainer">
          <div class="navIconContainer">
            <img
              class="navIcon"
              src="{{ url_for('static', filename='images/logo.png') }}"
              alt=""
            />
          </div>
          <div class="navTitleContainer">
            <div class="navTitle">VITRACK</div>
          </div>
        </div>
      </a>
        
        <div class="menuContainer">
          <div class="tab aboutUs">ABOUT US</div>
          <!-- <div class="tab cycRent">cycle rentals</div> -->
          <div class="tab signupButton">
            <a href="{{ url_for('signup') }}">Sign Up</a>
          </div>
          <div class="tab loginButton">
            <a href="{{ url_for('login') }}">Login</a>
          </div>
        </div>
      </div>

    <div class="empty"></div>
    <div id="one" class="full firstView">
      <div class="boxOne"></div>
      <div class="startText">
        <p class="welcomeText">Welcome To VITRACK</p>
        <p class="tagline">The One-Step Solution to all your Travel Problems</p>
      </div>
    </div>


    <div id="two" class="full secondView">
        <div class="secImg">
            <img class="cabShareImg" src="{{ url_for('static', filename='images/cabShare.png') }}" alt="">
        </div>
        <div class="secTxt">
            <div class="secTxtTitle">Cab Sharing</div>
            <div class="secTxtDesc">
                Tired of the endless messages on WhatsApp looking for a travel mate?  Look no further! VITrack connects you to the right people at the right time.
            </div>
        </div>
    </div>
    <div id="three" class="full thirdView">
        <div class="secTxt">
            <div class="secTxtTitle">Driver Contacts</div>
            <div class="secTxtDesc">
                Looking for a trustworthy ride? Don’t worry, we’ve got you covered! With our reliable auto and cab drivers, have a safe and stress-free journey.
            </div>
        </div>
        <div class="secImg">
            <img class="drivContImg" src="{{ url_for('static', filename='images/drivers.png') }}" alt="">
        </div>
    </div>
    <div id="four" class="full fourthView">
        <div class="secImg">
            <img class="shuttImg" src="{{ url_for('static', filename='images/shuttle.png') }}" alt="">
        </div>
        <div class="shuttTxt secTxt">
            <div class="secTxtTitle">Shuttle Tracking</div>
            <div class="secTxtDesc">
                We’re all tired of waiting for shuttles that never arrive. VITians, your wait ends here. Our shuttle tracking system brings you the location of the nearest ride simply at the click of a button.
            </div>
        </div>
    </div>
    <div id="five" class="full fifthView">
        <div class="secTxt">
            <div class="secTxtTitle">Cycle Rental</div>
            <div class="secTxtDesc">
                From SJT to SMV to PRP, walking all over campus can definitely be exhausting .  Make in-campus transits a whole lot easier by renting out cycles at just ₹10/hour!
            </div>
        </div>
        <div class="secImg">
            <img class="cycImg"  src="{{ url_for('static', filename='images/cycle.png') }}" alt="">
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
