<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>VITrack</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleMobile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="loader" class="center"></div>

    <div class="scroll">
        <div id="one" class="one active"><i class="fa-solid fa-circle"></i></div>
        <div id="two" class="two"><i class="fa-solid fa-circle"></i></div>
        <div id="three" class="three"><i class="fa-solid fa-circle"></i></div>
        <div id="four" class="four"><i class="fa-solid fa-circle"></i></div>
    </div>

    <div class="nav">
        <div class="logoContainer">
            <div class="navIconContainer"><img class="navIcon" src="{{ url_for('static', filename='images/logo.png') }}" alt=""></div>
            <div class="navTitle">VITRACK</div>
        </div>
        <div class="menuContainer">
            <div class="cabSharing"></div>
        </div>
        <div class="profileContainer">
            <i class="fa-regular fa-user"></i>
        </div>
    </div>

    <div id="one" class="full firstView">

    </div>
    <div id="two" class="full secondView"></div>
    <div id="three" class="full thirdView"></div>
    <div id="four" class="full fourthView"></div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>