<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>
<body>
    <div class="nav">
        <div class="logoContainer">
          <div class="navIconContainer">
            <img
              class="navIcon"
              src="{{ url_for('static', filename='images/logo.png') }}"
              alt=""
            />
          </div>
          <div class="navTitleContainer">
            <div class="navTitle">VITRACK</div>
          </div>
        </div>
        <div class="menuContainer">
          <div class="tab aboutUs">ABOUT US</div>
          <!-- <div class="tab cycRent">cycle rentals</div> -->
          <div class="tab signupButton">
            <a href="{{ url_for('signup') }}">Sign Up</a>
          </div>
          <div class="tab loginButton">
            <a href="{{ url_for('login') }}">Login</a>
          </div>
        </div>
        <div class="profileContainer">
            <i class="fa-regular fa-user"></i>
        </div>
      </div>
</body>
</html>