<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSignup.css') }}">
</head>
<body>
    <div class="inputContainer">
        <!-- <div class="name"></div>
        <div class="gender"></div>
        <div class="phoneNo"></div>
        <div class="vitMail"></div>
        <div class="password"></div> -->
        <form method="post">
            <label for="name"><input type="text" placeholder="Name"></label>
            <label for="gender">
                <select id="gender" name="gender">
                    <option value="" disabled selected>gender</option>
                    <option value="male">MALE</option>
                    <option value="female">FEMALE</option>
                    <option value="other">OTHER</option>
                </select>
            </label>
            <label for="phoneNo"><input type="text" placeholder="Phone number"></label>
            <label for="vitMail"><input type="text" placeholder="example@vitstudent.ac.in"></label>
            <label for="password"><input type="text" placeholder="Password"></label>
            <label for="submit"><input type="submit" ></label>
        </form>
    </div>
</body>
</html>