*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --light: rgb(255, 239, 203);
    /* --menuText:white; */
    /* --menutext:black; */
    --navTitle: white;
    --navTitle: rgb(57, 57, 57);
    --navBG: #c8a465;
}

body{
    background: var(light);
}